@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'faBrands';
    src: url('../ASSETS/FONTS/faBrands-400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* mini reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* 1rem = 16px */
    scroll-behavior: smooth; /* Smooth scrolling */
}

body {
    min-height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

/*==========================================*/

/* BOTÃO WHATSAPP FLUTUANTE */

.whatsapp-float {
    font-family: 'faBrands', sans-serif;
    font-size: 2.5rem;
    line-height: 100%;
    color: white;
    position: fixed;
    bottom: 2rem;
    right: 6rem;
    width: 4rem;
    height: 4rem;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: transform 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

/* Hero section */
.hero-section {
    height: 30vw;
    
    margin-top: 4em;
    background: linear-gradient(75deg, #014fa2, #00458e);
    color: aqua;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 2rem 0;
    gap: 2rem;
    padding-top: 2rem;
    border: #ffff00 1px solid;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
}

.hero-text h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
}

.cta-hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.cta-hero {
    margin-top: 2rem;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
}

.cta-main {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
    border-radius: .25rem;
    width: 45%;
    border: 2px solid #ffff00;
    background-color: #ffff00;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.cta-main:hover {
    background-color: #000000;
    color: #ffff00;
    border-color: #ffff00;
    transform: scale(1.1);
}

.cta-secondary {
    background-color: transparent;
    color: #ffff00;
}

@media (max-width: 1200px) {
    .hero-section {
        height: 35vw;
    }
    
    .hero-content {
            max-width: 100%;
            padding: 1rem 2rem 0 2rem;
    }
    
    .hero-text {
        padding-top: 1rem;
    }
}

@media (max-width: 999px) {
    nav a:hover {
        transform: none;
    }
    
    .hero-section {
        height: 165vw
    }
    
    .hero-content {
        grid-template-columns: 1fr;
    }
    
    .hero-text {
        text-align: center;
        padding-top: 2rem;
    }
    
    .hero-text h1 {
        font-size: 2rem;
    }
    
    .cta-hero {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .cta-main {
        width: 100%;
        justify-content: center;
    }
    
    .cta-main:hover {
        background-color: #000000;
        color: #ffff00;
        border-color: #ffff00;
        transform: none;
    }
}