@font-face {
    font-family: 'faBrands';
    src: url('../ASSETS/FONTS/faBrands-400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


/* VARIÁVEIS CSS ===================================================================================== */

:root {
  --cor-primaria: #0060c6;
  --cor-secundaria: #339eff;
  --cor-destaque: #ffff00;
  --cor-cinza-claro: #e0e0e0;
  --cor-cinza-medio: #b0b0b0;
  --cor-cinza-escuro: #333333;
  --espacamento-padrao: 2rem;
  --raio-longo: 1rem;
  --raio-curto: 0.5rem;
  --fonte-principal: 'Segoe UI', sans-serif;
}


/* mini reset CSS ===================================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-height: 100%;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

html, body {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: var(--cor-cinza-escuro);
}


/* BOTÃO WHATSAPP FLUTUANTE ===================================================================================== */

.whatsapp-float {
    font-family: 'faBrands', sans-serif;
    font-size: 2.5rem;
    line-height: 100%;
    color: white;
    
    position: fixed;
    bottom: 2rem;
    right: 6rem;
    width: 4rem;
    height: 4rem;
    
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: transform 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}


/* Hero section ===================================================================================== */

.hero-section {
    margin: 4em 0 0;
    background: linear-gradient(75deg, #014fa2, #00458e);
    color: aqua;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    gap: 8rem;
    padding: 2rem;
    /* border: #ffff00 1px solid; */
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: #ffff00 1px solid; */
    padding-bottom: 2rem;
}

.hero-text h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
}

.hero-text p {
    font-size: 1.125rem;
    color: #fff;
    /* margin-bottom: 2rem; */
}

.cta-hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    margin-top: 2rem;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;    
}

.cta-main {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
    border-radius: .25rem;
    width: 45%;
    border: 2px solid var(--cor-destaque);
    background-color: var(--cor-destaque);
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.cta-main:hover {
    background-color: #000000;
    color: var(--cor-destaque);
    border-color: var(--cor-destaque);
    transform: scale(1.1);
}

.cta-secondary {
    background-color: transparent;
    color: var(--cor-destaque);
}


/* SEÇÃO GENÉRICA BASE ===================================================================================== */

.section {
    display: flex;
    align-items: center;
    background-color: white;
    
    /* border: solid 1px yellow; */
}

.section h2 {
    color: var(--cor-primaria);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}


/* CONTAINER ===================================================================================== */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem var(--espacamento-padrao);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* border: solid 1px yellow; */
}


/* SEÇÃO CLIENTES ===================================================================================== */

.clientes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    gap: 0 3rem;
    padding: 0 1rem;
}

.clientes img {
    width: 170px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s;
}


/* SEÇÃO COLETES SALVA-VIDAS ===================================================================================== */

.coletes-salva-vidas {
    background-color: var(--cor-destaque);
}

.salva-vidas {
    max-width: 60%;
    
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 5%;
    
    align-items: start;
    justify-content: center;
    margin: 3rem auto 0;
    
    text-align: center;
    
    /* border: solid 2px blue; */
}

.card-colete {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    background-color: white;
    border-radius: var(--raio-longo);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s;
    
    padding: 1.5rem;
}

.card-colete h4 {
    display: inline-block;

    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
    color: white;
    background-color: var(--cor-primaria);
    
    margin: 1rem auto 0rem;
    padding: 0.25rem 1rem;
    border-radius: var(--raio-longo);
}

.card-colete h3 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    /* color: var(--cor-primaria); */
    margin: 0.5rem auto 1rem;
}

.card-colete p {
    font-size: 1rem;
    color: var(--cor-cinza-escuro);
    margin: 0rem auto 2rem;
}

.card-colete img {
    width: 80%;
    margin: -5rem auto 0;
    height: auto;
    object-fit: contain;
}

.cta-produtos {
    width: 100%;
    margin-top: 1rem;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    /* margin: 0 2rem 2rem; */
}


/* SEÇÃO DIFERENCIAIS ===================================================================================== */

.grid-diferenciais {
    max-width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
    align-items: stretch;
    justify-content: center;
    margin: 3rem auto 0;
    
    text-align: center;
    
    /* border: solid 2px blue; */
}

.card-diferencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    
    width: 175px;
    
    padding: 1rem;
    
    background-color: white;
    border-radius: var(--raio-longo);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    
}

.card-diferencial h3 {
    font-size: 1rem;
    font-weight: 700;
    /* text-transform: uppercase; */
    color: var(--cor-primaria);
    margin: 0.5rem 0 0.25rem;
}


/* SEÇÃO UNIFORMES ===================================================================================== */ 

.section-uniformes {
    background: linear-gradient(210deg, var(--cor-cinza-claro), var(--cor-cinza-medio));
    /* padding: 4rem 0; */
}

.div-uniformes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-uniforme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    
    width: 175px;
        
    background-color: white;
    border-radius: var(--raio-longo);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.card-uniforme img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
    padding: 1rem;
    
    /* border: solid 1px red; */
}

.card-descricao p {
    color: var(--cor-cinza-escuro);
    margin: 0.5rem 0 0;
}

.div-uniformes h4 {
    text-align: left;
}
/* SEÇÃO CONTATO ===================================================================================== */ 

.container-contato {
    max-width: 700px;
    background-color: #f0f0f0;
    padding: 2rem 4rem;
    margin: 6rem auto;
    border-radius: var(--raio-longo);
}

.catalog-form label {
  display: block;
  margin-top: 20px;
  color: #333333;
  font-weight: 500;
}

.catalog-form input {
  width: 100%;
  padding: 12px;
  background: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-size: 1rem;
  margin-top: 6px;
}

.catalog-form input.error {
  border: 2px solid orange;
}

.catalog-form button {
  margin-top: 30px;
  background-color: #ffff00;
  color: #333333;
  font-weight: bold;
  border: none;
  padding: 14px 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
  color: #333333;
}


/* BREAKPOINTS ===================================================================================== */ 

@media (max-width: 1200px) {
    .hero-content {
        max-width: 100%;
    }
    
    .whatsapp-float {
        right: 2rem;
        bottom: 2rem;
    }
    
    .container {
    max-width: 100%;
    }
    
}


@media (max-width: 999px) {
    nav a:hover {
        transform: none;
    }
    
    .hero-content {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    
    .hero-text {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 0;

    }
    
    .cta-hero {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .cta-main {
        width: 100%;
        justify-content: center;
    }
    
    .cta-main:hover {
        background-color: #000000;
        color: #ffff00;
        border-color: #ffff00;
        transform: none;
    }
    
    .salva-vidas {
        grid-template-columns: 1fr;
        max-width: 100%;
        gap: 6rem
    }
    
    .container {
        width: 100vw;
        padding: 10vw 5vw;
        /* border: solid 1px red; */
    }
    
     .grid-diferenciais {
        max-width: 80vw;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        gap: 5vw;
        
        align-items: stretch;
        justify-content: center;
        margin: 3rem auto 0;
        
        text-align: center;
        
        /* border: solid 2px blue; */
    }
    
    .card-diferencial {
        width: 35vw;
        min-height: 35vw;
    }
    
    .card-uniforme {
        width: 80vw;
    }
    
    .container-contato {
        max-width: 80vw;
        background-color: #f0f0f0;
        padding: 5vw;
        margin: 10vw auto;
        border-radius: var(--raio-longo);
    }
}
